.plan{

    background-color: rgb(21, 221, 57);
    color: rgb(36, 18, 18);
    height: 800px;
    font-size: 25px;
}
.Pleasure{
    padding-left: 100px;
    padding-right: 100px;
    
}
.Pleasures{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}