.Reno{

    background-color: rgb(134, 245, 245);
    height: 900px;
    
}
.commonlys{

    padding: 40px;
    color: rgb(9, 156, 19);
}
.commonly{
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(9, 156, 19);
}